.imageBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .tooltipImagesIndexs {
        color: #fff;
        z-index: 5;
        position: absolute;
        bottom: 16px;
        right: 15px;
        background: rgba(0, 0, 0, 0.65);
        padding: 0 23px;
    }
    .imageBoxAll {
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 2px;
        z-index: 1;
        overflow: auto;
        img {
            vertical-align: middle;
            padding: 5px 0px;

            display: inline-block;
        }
    }
}
