.favosTree {
    padding: 10px 0 5px;
    .favosTreeForm {
        padding: 0px 15px 0px;
    }
    .input {
        color: #333;
        cursor: text;
    }
    .title {
        padding: 0 0 0 15px;
        color: white;
    }
}
