.imageBox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .zoom {
        position: absolute;
        z-index: 3;
        width: 300px;
        height: 300px;
        border: 2px solid #374ad4;
        overflow: hidden;
    }
    .navigationAction {
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 2;
        .navigationActionLeft {
            width: 30%;
            z-index: 2;
            cursor: url(../../../../image/left_arrow.png), default;
        }
        .navigationActionCenter {
            width: 40%;
            z-index: 2;
        }
        .navigationActionRight {
            width: 30%;
            z-index: 2;
            cursor: url(../../../../image/right_arrow.png), default;
        }
    }

    .imageBoxSingle,
    .imageBoxDubleLeft,
    .imageBoxDubleRight {
        & > * {
            vertical-align: middle;
            display: inline-block;
        }
        &:before {
            content: "";
            height: 100%;
            vertical-align: middle;
            width: 0px;
            display: inline-block;
        }
    }

    .imageBoxSingle {
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 2px;
        z-index: 1;
    }

    .imageBoxDubleLeft {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 0;
        width: 50%;
        z-index: 1;
        text-align: right;
    }

    .imageBoxDubleRight {
        position: absolute;
        top: 2px;
        bottom: 2px;
        right: 0;
        width: 50%;
        z-index: 1;
        text-align: left;
    }
}
